h3 {
    text-align: center;
}

#status {
    text-align: center;
}

#createListing,
#yourListings {
    display: flex;
    justify-content: center;
    align-items: center;
}

#yourListings {
    flex-direction: column;
}