table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rateThisProperty {
    display: flex;
    justify-content: center;
    align-items: center;
}

#status {
    text-align: center;
}