#contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  float: left;
  padding: 20px;
}

#ownerInfo {
  padding-bottom: 200px;
}

#propertyTable {
  padding-left: 100px;
}

#rateThisProperty {
  display: flex;
  justify-content: center;
  align-items: center;
}

#status,
h3 {
  text-align: center;
}