/* center things */
#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* set the sign in table's width to the same as the sign up table
so that they align */
#signInTable {
    width: 380px;
}

header {
    text-align: center;
}

/* center the dev buttons */
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


