#filterDiv,
#propertyList {
    display: flex;
    justify-content: center;
    align-items: center;
}

#propertyList {
    flex-direction: column;
}

#resetParking,
#resetTransit,
#resetSmoking {
    position: relative;
    bottom: 5px;
}

